Repository duynope/mlops-crash-course-code: changes, and which Jenkins stages are due for each by the changed paths.
All: build data pipeline, test data pipeline, deploy data pipeline, build model serving, test model serving, batch serving pipeline, online serving API

build data pipeline:
              steps {
                  echo 'Building data pipeline..'
                  script {
                      docker.image('python:3.9').inside {
                          sh 'cd data_pipeline && make build_image'
                      }
                  }
              }
          

test data pipeline:
              steps {
                  echo 'Testing data pipeline..'
                  script {
                      docker.image('python:3.9').inside {
                          echo 'Testing data pipeline..'
                      }
                  }
              }
          

deploy data pipeline:
              steps {
                  script {
                      docker.image('python:3.9').inside {
                          sh 'cd data_pipeline && make deploy_dags'
                      }
                  }
              }
          

build model serving:
              steps {
                  echo 'Building model serving..'
                  script {
                      sh 'apt-get update && apt-get install -y make'
                      sh 'cd model_serving && make build_image'
                  }
              }
          

test model serving:
              steps {
                  echo 'Testing model serving..'
              }
          

batch serving pipeline:
                      steps {
                          script {
                              sh 'cd model_serving && make deploy_dags'
                          }
                      }
                  

online serving API:
                      steps {
                          script {
                              sh 'cd model_serving && make compose_up'
                          }
                      }
                  

Jenkins model_serving
  model_serving/dags/hi.py
Due: build model serving, test model serving, batch serving pipeline, online serving API

update README
  README.md
Due: none

Jenkins serving hi
  model_serving/.gitignore
  model_serving/feature_repo/data_sources.py
  model_serving/feature_repo/entities.py
  model_serving/feature_repo/feature_store.yaml
  model_serving/feature_repo/features.py
  model_serving/feature_repo/registry/local_registry.db
  model_serving/src/hi.py
  model_serving/src/test.py
Due: build model serving, test model serving, batch serving pipeline, online serving API

fix Jenkins serving
  model_serving/.gitignore
  model_serving/data_sources/driver_stats.parquet
  model_serving/feature_repo/registry/local_registry.db
Due: build model serving, test model serving, batch serving pipeline, online serving API

fix Jenkins serving
  Jenkinsfile_model_serving
  model_serving/.gitignore
  model_serving/artifacts/batch_input.parquet
  model_serving/artifacts/batch_output.parquet
  model_serving/artifacts/registered_model_version.json
  model_serving/feature_repo/registry/local_registry.db
Due: build model serving, test model serving, batch serving pipeline, online serving API

update model serving
  model_serving/artifacts/batch_input.parquet
  model_serving/artifacts/batch_output.parquet
  model_serving/artifacts/registered_model_version.json
  model_serving/deployment/.env
  model_serving/feature_repo/feature_store.yaml
  model_serving/feature_repo/registry/local_registry.db
Due: build model serving, test model serving, batch serving pipeline, online serving API

update moserving
  model_serving/src/hi.py
Due: build model serving, test model serving, batch serving pipeline, online serving API

rm hi
  data_pipeline/src/db_to_offline_store/hi.py
Due: build data pipeline, test data pipeline, deploy data pipeline

Update README.md
  README.md
Due: none

Path conditions:
  build data pipeline: any of: data_pipeline/**
  test data pipeline: any of: data_pipeline/**
  deploy data pipeline: any of: data_pipeline/**
  build model serving: any of: model_serving/**
  test model serving: any of: model_serving/**
  batch serving pipeline: any of: model_serving/**
  online serving API: any of: model_serving/**
